body{
    background-color: bisque;
}

p{
    color:purple;
}

#segundo{
    color: brown;
    background-color: rgb(70, 243,255);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 50px;
}

.diferente{
    color: rgb(228, 228, 228);
    background-color: rgb(243, 216,12);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 50px 
}